body {
    background-color: #1b1b1b;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: #e9e8e8;
}

header h2 {
    padding: 1rem;
    background-color: #002424;
}

header div {
    padding: 1rem;
    background-color: #3d073d;
}

main {
    padding: 1rem;
    background-color: #6d6d6d;
    background-color: #4b4747;
    color: white;
}

footer {
    background-color: black;   
    color: #e9e8e8;

}

footer p {
    padding: 1rem;
    background-color: #3d073d;
}

footer div {
    padding: 1rem;
    background-color: #002424;
}